<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Individuals</title>
    <style>
        table {
            width: 100%;
        }

        table td, table th {
            border: 1px solid grey;
        }

        table th {
            background: #eee;
        }

        .pagination-div span {
            border-radius: 3px;
            border: 1px solid #999;
            padding: 5px;
            margin: 10px 0px 0px 10px;
            display: inline-block
        }
    </style>
</head>
<body>
<th:block th:insert="fragments/language :: language"/>
<h2 th:text="#{individuals}">Individuals</h2>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{individuals.id}"></th>
        <th th:text="#{individuals.surname}"></th>
        <th th:text="#{individuals.first.name}"></th>
        <th th:text="#{individuals.second.name}"></th>
        <th th:text="#{individuals.passport}"></th>
        <th th:text="#{individuals.ident.code}"></th>
        <th th:text="#{individuals.address}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="individual, iStat : ${individualPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${individual.id}"></td>
        <td th:text="${individual.surname}"></td>
        <td th:text="${individual.firstName}"></td>
        <td th:text="${individual.secondName}"></td>
        <td th:text="${individual.passport}"></td>
        <td th:text="${individual.identCode}"></td>
        <td th:text="${individual.address}"></td>
        <td><a th:href="@{/admin/delete-individual/{id}(id=${individual.id})}">Delete</a></td>
        <td><a th:href="@{/admin/edit-individual/{id}(id=${individual.id})}">Edit</a></td>
    </tr>
    </tbody>
</table>
<div th:if="${individualPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/admin/individuals(size=${individualPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==individualPage.number + 1} ? active"></a>
</div>
</body>
</html>