<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Claims</title>
    <style>
        table {
            width: 100%;
        }

        table td, table th {
            border: 1px solid grey;
        }

        table th {
            background: #eee;
        }

        .pagination-div span {
            border-radius: 3px;
            border: 1px solid #999;
            padding: 5px;
            margin: 10px 0px 0px 10px;
            display: inline-block
        }

        .pagination {
            display: inline-block;
        }

    </style>
</head>
<body>
<th:block th:insert="fragments/language :: language"/>
<h2 th:text="#{claims}">Claims</h2>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{claims.id}"></th>
        <th th:text="#{claims.client}"></th>
        <th th:text="#{claims.inspector}"></th>
        <th th:text="#{claims.reason}"></th>
        <th th:text="#{claims.status}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="claim, iStat : ${claimPage.getContent()}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${claim.id}"></td>
        <td th:text="${claim.client}"></td>
        <td th:text="${claim.inspector}"></td>
        <td th:text="${claim.reason}"></td>
        <td th:text="${claim.status}">

        </td>
        <td>
            <a th:href="@{/admin/reject-claim/{id}(id=${claim.id})}" th:text="${claim.status==T(ua.polina.system.entity.Status).NOT_CHECKED} ? 'Reject':' '"></a>
        </td>
        <td>
            <a th:href="@{/admin/accept-claim/{id}(id=${claim.id})}" th:text="${claim.status==T(ua.polina.system.entity.Status).NOT_CHECKED} ? 'Accept':' '">Accept</a>
        </td>
    </tr>
    </tbody>
</table>
<div th:if="${claimPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/admin/claims(size=${claimPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==claimPage.number + 1} ? active"></a>
</div>
</body>
</html>