<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reports</title>
    <style>
        table {
            width: 100%;
        }

        table td, table th {
            border: 1px solid grey;
        }

        table th {
            background: #eee;
        }

        .pagination-div span {
            border-radius: 3px;
            border: 1px solid #999;
            padding: 5px;
            margin: 10px 0px 0px 10px;
            display: inline-block
        }
    </style>
</head>
<body>
<th:block th:insert="fragments/language :: language"/>
<h2 th:text="#{my.reports}">Reports</h2>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{reports.id}"></th>
        <th th:text="#{reports.client.name}"></th>
        <th th:text="#{reports.date}"></th>
        <th th:text="#{reports.comment}"></th>
        <th th:text="#{reports.status}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rep: ${reports}">
        <td th:text="${rep.id}"></td>
        <td th:text="${rep.client}"></td>
        <td th:text="${rep.date}"></td>
        <td th:text="${rep.comment}"></td>
        <td th:text="${rep.status}"></td>
        <td><a th:href="@{/client/edit/{id}(id=${rep.id})}">Edit</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/client/create-new-report}" th:text="#{create.report}">Create report</a>
</div>
</body>
</html>