<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <section id="content">
        <form th:action="@{/client/create-claim}" th:object="${claim}" th:method="post">
            <h1 th:text="#{report}">Report</h1>
            <div>
                <input th:label="#{write.comment}" type="text" placeholder="Comment" required="" id="comment" th:field="*{reason}"/>
            </div>
            <div>
                <input type="submit" th:value="#{complain.inspector}" />
            </div>
        </form><!-- form -->
    </section>
</div>
</body>
</html>