<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navigation">

<!--    <div class="dropdown">-->
<!--        <button class="dropbtn">Claims</button>-->
<!--        <div class="dropdown-content">-->
<!--            <a href="#">See all claims</a>-->
<!--            <a href="#">2</a>-->
<!--            <a href="#">Link 3</a>-->
<!--        </div>-->
<!--    </div>-->
    <div class="my-nav">
        <ul class="d-inline-flex nav">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/admin/claims}">Claims</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/inspectors}">Inspectors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/individuals}">Individuals</a>
            </li>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="#">Legal entities</a>-->
<!--            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="#">Reports</a>
            </li>
        </ul>
    </div>
</nav>
</html>