<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../index.css">
    <link rel="stylesheet" type="text/css" href="../Admin.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Page</title>
</head>
<body>
<header>
    <picture>
        <source srcset="images\Report.png">
        <img src="images\Report.png" width="100 px" height="100px" alt="Picture">
    </picture>
    <ul class="d-inline-flex nav">
        <li class="nav-item ">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contacts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Log in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login.html">Log out</a>
        </li>
    </ul>
</header>

<div class="tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="#claims">Claims</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Inspectors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Individuals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Legal entities</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div id="claims" class="tab-pane fade in active">
        <h3>Claims</h3>
        <p>.</p>
    </div>
</div>

</body>
</html>