<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logIn.css}">
    <title>Title</title>
</head>
<body>
<th:block th:insert="fragments/language :: language"/>

<div class="container">
    <section id="content">
        <form th:action="@{/auth/login}" method="post">
            <h1 th:text="#{login.form}">Login Form</h1>
            <div th:if="${logout}">
                <div class="alert alert-info" role="alert" th:text="#{logged.out}">Logged out.
                </div>
            </div>
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert"  th:text="#{invalid.credentials}">Invalid
                    credentials!
                </div>
            </div>

            <div>
                <input type="text" th:placeholder="#{placeholder.email}" required="" id="email" name="username"/>
            </div>
            <div>
                <input type="password" th:placeholder="#{placeholder.password}" required="" id="password" name="password"/>
            </div>
            <div>
                <input type="submit" th:value="#{login}"/>
                <a th:href="@{/auth/sign-up-individual}" th:text="#{register.individual}">Register individual</a>
                <a th:href="@{/auth/sign-up-legal-entity}" th:text="#{register.legal.entity}">Register legal</a>
            </div>
        </form>
    </section>
</div><!-- container -->
</body>
</html>