<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logIn.css}">
    <title>Title</title>
</head>
<body>
<div class="container">
    <section id="content">
        <form th:action="@{/auth/sign-up-individual}" th:object="${sign}" method="post">
            <h1>Registration form</h1>
            <div th:if="${error != null}">
                <p th:text="${error}">...</p>
            </div>
            <div th:if="${error2 != null}">
                <p th:text="${error2}">...</p>
            </div>
            <div>
                <input type="text" placeholder="Email" required="" id="email" th:field="*{email}"/>
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" th:field="*{password}"/>
            </div>
            <div>
                <input type="text" placeholder="Surname" required="" id="surname" th:field="*{surname}"/>
            </div>
            <div>
                <input type="text" placeholder="First name" required="" id="firstName" th:field="*{firstName}"/>
            </div>
            <div>
                <input type="text" placeholder="Second name" required="" id="secondName" th:field="*{secondName}"/>
            </div>
            <div>
                <input type="text" placeholder="Passport" required="" id="passport" th:field="*{passport}"/>
            </div>
            <div>
                <input type="text" placeholder="Identification code" required="" id="identCode"
                       th:field="*{identCode}"/>
            </div>
            <div>
                <input type="text" placeholder="Address" required="" id="address" th:field="*{address}"/>
            </div>
            <div class="col-lg-3">
                <!--              <input type="text" placeholder="Inspector" required="" id="inspector" th:field="*{inspectorId}"/>-->
                <select class="form-control" id="inspectorOrder" name="inspector" th:field="*{inspectorId}">
                    <option value="">Select inspector</option>
                    <option th:each="inspector : ${inspectors}"
                            th:value="${inspector.id}" th:text="${inspector.firstName}"></option>
                </select>
            </div>
            <div>
                <input type="submit" value="Sign up"/>
                <a href="logIn.html">Log in</a>
            </div>
        </form><!-- form -->

    </section><!-- content -->
</div><!-- container -->
</body>
</html>