<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logIn.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/Register.css}">
    <title>Title</title>
</head>
<body>
<div class="container">
    <section id="content">
        <form th:action="@{/api/auth/sign-up-legal-entity}" th:object="${sign}" method="post">
            <h1>Registration form</h1>
            <div th:if="${error!=null}">
                <p th:text="${error}">...</p>
            </div>
            <div>
                <input type="text" placeholder="Email" required="" id="email" th:field="*{email}"/>
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" th:field="*{password}" />
            </div>
            <div>
                <input type="text" placeholder="Name" required="" id="name" th:field="*{name}"/>
            </div>
            <div>
                <input type="text" placeholder="Edrpou" required="" id="edrpou" th:field="*{edrpou}" />
            </div>
            <div>
                <input type="text" placeholder="Mfo" required="" id="mfo" th:field="*{mfo}" />
            </div>
            <div>
                <input type="text" placeholder="Address" required="" id="address" th:field="*{address}"/>
            </div>
            <div>
                <input type="submit" value="Sign up" />
                <a href="logIn.html">Log in</a>
            </div>
        </form>
    </section>
</div>

</body>
</html>