<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reports</title>
    <style>
        table {
            width: 100%;
        }

        table td, table th {
            border: 1px solid grey;
        }

        table th {
            background: #eee;
        }

        .pagination-div span {
            border-radius: 3px;
            border: 1px solid #999;
            padding: 5px;
            margin: 10px 0px 0px 10px;
            display: inline-block
        }
    </style>
</head>
<body>
<th:block th:insert="fragments/language :: language"/>
<h2 th:text="#{reports}">Reports</h2>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{reports.id}"></th>
        <th th:text="#{reports.client.name}"></th>
        <th th:text="#{reports.date}"></th>
        <th th:text="#{reports.comment}"></th>
        <th th:text="#{reports.comment}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="report, iStat : ${reports}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${report.id}"></td>
        <td th:text="${report.client.toString()}"></td>
        <td th:text="${report.date}"></td>
        <td th:text="${report.comment}"></td>
        <td th:text="${report.status}"></td>
        <td><a th:href="@{/inspector/reject-report/{id}(id=${report.id})}" th:text="${report.status==T(ua.polina.system.entity.Status).NOT_CHECKED} ? 'Reject':' '"></a></td>
        <td><a th:href="@{/inspector/accept-report/{id}(id=${report.id})}" th:text="${report.status==T(ua.polina.system.entity.Status).NOT_CHECKED} ? 'Accept':' '"></a></td>
        <td><a th:href="@{/inspector/info-report/{id}(id=${report.id})}" th:text="${report.status==T(ua.polina.system.entity.Status).REJECTED} ? 'Info':' '"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>