<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Individuals</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/get-clients.css}">
</head>
<body>
<h2 th:text="#{my.individuals}">My Individuals</h2>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{individuals.id}"></th>
        <th th:text="#{individuals.email}"></th>
        <th th:text="#{individuals.name}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i, iStat : ${individuals}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${i.id}"></td>
        <td th:text="${i.user.email}"></td>
        <td th:text="${i.individual.toString()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>