<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <section id="content">
        <form th:action="@{/inspector/reject-report}" th:object="${renouncement}" th:method="post">
            <h1>Report</h1>
            <div>
                <input type="text" placeholder="Reason" required="" id="reason" th:field="*{reason}"/>
            </div>
            <div>
                <input type="submit" value="Add" />
            </div>
        </form><!-- form -->
    </section>
</div>

</body>
</html>