<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:insert="fragments/language :: language"/>
<div class="container">
    <section id="content">
        <form th:action="@{/inspector/reject-report}" th:object="${renouncement}" th:method="post">
            <h1 th:text="#{report}">Report</h1>
            <div>
                <input type="text" th:placeholder="#{renouncements.reason}" required="" id="reason" th:field="*{reason}"/>
            </div>
            <div>
                <input type="submit" th:value="#{add.new.renouncement}" />
            </div>
        </form><!-- form -->
    </section>
</div>

</body>
</html>